.angled-gradient{
	background: linear-gradient(140deg, #ee96ff, #80d8fc);
	background-attachment:fixed;
}
.logo{
	
	height: 100px;

}
.home{
	vertical-align:middle;
}
/* div{
	border: 1px solid black;
	
}
*/
button{
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.bottom{
	background-color:black;
	color: white;
}
.col-10{
	text-align:center;

}
.home{
	vertical-align:middle;
}

#btnA{
	width: 20%;
	height:150px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnB{
	width: 20%;
	height:150px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnC{
	width: 20%;
	height:150px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnD{
	width: 20%;
	height:150px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnE{
	width: 20%;
	height:150px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnF{
	width: 20%;
	height:150px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnG{
	width: 20%;
	height:150px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnH{
	width: 20%;
	height:150px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}


h1{
	font-family: 'Press Start 2P', cursive;
}
h4{
    font-family: 'Press Start 2P', cursive;
}
.ButtonBottom{
	
}

@media(max-width:750px){


}
@media(max-width:450px){
	
	#btnA{
	width: 140px;
	height:125px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnB{
	width: 140px;
	height:125px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnC{
	width: 140px;
	height:125px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnD{
	width: 140px;
	height:125px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnE{
	width: 140px;
	height:125px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnF{
	width: 140px;
	height:125px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnG{
	width: 140px;
	height:125px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnH{
	width: 140px;
	height:125px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}

#btnH:hover, #btnG:hover,#btnF:hover, #btnE:hover{
	width: 140px;
	height:125px;
	color:white;
}
 #btnD:hover, #btnC:hover, #btnB:hover, #btnA:hover{
	width: 140px;
	height:125px;
	color:white;
}

}

@media(max-width:346px){
	
	#btnA{
	width: 100px;
	height:100px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnB{
	width: 100px;
	height:100px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnC{
	width: 100px;
	height:100px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnD{
	width: 100px;
	height:100px;
	background-color: #5e4fd1;
	color:white;
	display:inline-block;
}
#btnE{
	width: 100px;
	height:100px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnF{
	width: 100px;
	height:100px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnG{
	width: 100px;
	height:100px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}
#btnH{
	width: 100px;
	height:100px;
	background-color: #ff91ca;
	color:white;
	display:inline-block;
}

#btnH:hover, #btnG:hover,#btnF:hover, #btnE:hover{
	width: 100px;
	height:100px;
	color:white;
}
 #btnD:hover, #btnC:hover, #btnB:hover, #btnA:hover{
	width: 100px;
	height:100px;
	color:white;
}

}